* {
    box-sizing: border-box;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: darkgray;
}
.top {
    height: 150px;
    text-align: center;
    margin-bottom: 20px;
    background-color: darkcyan;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#title {
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
    margin: 0;
    padding: 10px;
    color: whitesmoke;
}

h2 {
    display: inline;
    font-size: 1.3em;
    margin-top: 0;
    color: #333;
}

#img-div {
    text-align: center;
    margin-bottom: 20px;
}
#image {
    display: inline;
    max-width: 33%;
    height: auto;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1)   ;
}

#img-caption {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

ul {
    text-align: justify;
    margin: 10px 15px 10px 15px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li {
    margin: 5px 0;
    padding: 3px;
    list-style-type: circle;
    color: #333;
}


p {
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#tribute-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: darkcyan;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
